h1{
	text-align: center;
	font-color: navy;
	margin: 0px 0px 0px 0px;
}
body{
	background-color: white/*#e1dcb7*/;
}
h2{
	font-size: 35px;
}
table{
	border-color: navy;
	border-style: 9px;
	border-right-width: 2px;
	border-left-width: 2px;
}
td{
	border-radius: 5px;
}
h4{
	font-size: 18px;
	font-style: italic;
}
html{
	background-color: #e1dcb7;
}
.navbar{
	border-bottom: solid 2px navy;
	padding-left: .25em;
	padding-bottom: .25em;
	margin-bottom: .25em;
}
.main{
	border-top: solid 2px navy;
	border-bottom: solid 2px navy;
	margin-top: .25em;
	padding-left: .25em;
	border-radius: .25em;
	
}
.part1{width: 50em;
	position: relative;
	margin-right: 50em;
	padding-left: .25em;
}
.part2{
	width:50em;
	position: relative;
	left: 55em;
	top: -37em;
	margin-right: 50em;
	padding-left: .25em;
}
.Product-Line{
	margin-top: -350px;
	vertical-align: center;
}
.all{
	border: solid 5px navy;
	border-radius: 7px;
	margin-left: 10px;
	margin-right: 10px;
}
.jumbotron{
	width: 60em;
	height: 30.5em;
	margin-top: 2em;
}
.Photo-Gallery {
	padding-left: .35em;
}